body{
    background-color: rgb(249, 241, 230);
}

.footer{
    display: none;
}

.search_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
.search_section_head,.key_provide{
    margin-top: 15%;
}




@media screen and (max-width: 800px) {
    .search_section_head,.key_provide{
        margin-top: 20%;
    }
    .key_provide{
        font-size: 25px;
    }
}

@media screen and (max-width: 500px) {
    .search_section_head,.key_provide{
        margin-top: 30%;
    }
    .search_section_head{
        font-size: 22px;
    }
    .sorry_line{
        font-size: 15px;
    }
    .key_provide{
        font-size: 20px;
    }
}

@media screen and (max-width: 340px) {
    .search_section_head,.key_provide{
        margin-top: 40%;
    }
}
