{% load static %}

<div class="footer">
    <div class="brand_detail">
        <p class="brand">mozato</p>
    <section class="ft_social">
        <a href="tel:+917631618965"><i class="fas fa-phone"></i></a>
        <a href="mailto:bablookumar24bk@gmail.com"><i class="far fa-envelope"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-github"></i></a>
    </section>
            
        
    </div>

    <div class="compny">
        <p class="ft_head">Company</p>
        <ul>
            <li>About</li>
            <li>Careers</li>
            <li>Team</li>
            <li>Swiggy One</li>
            <li>Swiggy Instamart</li>
            <li>Swiggy Genie</li>
        </ul>
    </div>

    <div class="contact_us">
        <p class="ft_head">Contact us</p>
        <ul>
            <li>Help & Support</li>
            <li>Partner with us</li>
            <li>Ride with us</li>
        </ul>
    </div>

    <div class="we_deliver_to">
        <p class="ft_head">We deliver to:</p>
        <ul>
            <li>Banglore</li>
            <li>Gurgaon</li>
            <li>Hydrabad</li>
            <li>Delhi</li>
            <li>Mumbi</li>
        </ul>
    </div>
</div>