{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login_signup.css' %}">
{% endblock %}

{% block body %}

<div class="hello_user">
    <div class="container" id="container">
        <div class="form_container">
            <div class="form-inner">
                <form action="{% url 'login' %}" method="POST">{% csrf_token %}
                    <h1>Sign In</h1>
                    {% if messages %}
                        {% for message in messages %}
                        <p class="message">{{message}} <span class="cross">&#10060;</span></p>
                        {% endfor %}
                    {% endif %}
                    <input type="text" name="username" id="username" placeholder="Enter your Name">
                    <input type="password" name="password" id="password" placeholder="Enter your Password">
                    <button class="signup_btn" type="submit" value="login">Sign In</button>
                </form>
                <p class="create_line">Create a account??<a class="create" href="{% url 'signup' %}">Sign Up</a></p>
            </div>   
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){
        $('.cross').click(function(){
            $('.message').hide();
        });
    });
</script>
{% endblock %}